POSTGRES_DB=task_flow_db
POSTGRES_HOST=postgres
POSTGRES_PORT=5432
# ⬇️ for local
#POSTGRES_HOST=localhost
#POSTGRES_PORT=5435

POSTGRES_USER=postgres
POSTGRES_PASSWORD=1234


SECRET_KEY=secret
DEBUG=False
ALLOWED_HOSTS=135.235.137.91,taskflow.lccrm.uz

DJANGO_SETTINGS_MODULE=core.settings.prod

SECURE_SSL_REDIRECT=False


