services:
  django-app:
    build:
      context: ./
      dockerfile: Dockerfile
    container_name: task_flow_django_app
    restart: always
    env_file:
      - .env
    depends_on:
      - postgres
    ports:
      - "8000:8000"

  postgres:
    image: "postgres:17"
    container_name: task_flow_postgres
    restart: always
    env_file:
      - .env
    ports:
      - "5432:5432"
    volumes:
      - postgres_data:/var/lib/postgresql/data
volumes:
  postgres_data:
